<%- include("partials/header")-%>
<section id="landing">

    <div class="chilli">
        <h1 class="heading">ABOUT</h1>
        <p class= "content"> <%= aboutContent %></p>
    
    </div>

</section>




<%- include("partials/footer")-%>   