<%- include("partials/header")-%>
<section id="landing">

    <div class="chilli">
        <h1 class="heading">CONTACT</h1>
        <p class= "content"> <%= contactContent %></p>
        <p>email: <a href="mailto:valizevibigiedavid@gmail.com">Valizevbigiedavid@gmail.com</a></p>
        <p>Telephone: <a href="tel:+2349155498069">09155498069</a></p>
    
    </div>

</section>




<%- include("partials/footer")-%> 