#landing {
    margin: 0 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../images/bck.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
    min-height: 100vh;
    padding: 20px, 20px;
    text-align: center;
    color: #fff;
  }
  #content-wrap {
    padding-bottom: 2.5rem;
  }
   
 .nav{
  position: absolute;
  z-index: 2;
  width: 100%;
 }

  .valz {
    margin: 0 auto;
    display: block;
    width: 100%;
    min-height: -moz-fit-content;
    min-height: fit-content;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border-bottom: 1px solid #ced4da;
    border-top: 0rem;
    border-right: 0rem;
    border-left: 0rem;
    overflow-y: auto;
  }
.feed{
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}
  .sponsored-post{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    color: #fff;
    height: 60vh;
    width: 80%;
  }
.sponsored-image{
  height: 60vh;
}
  .sponsored-image img{
    height: 80% !important;
    width: 100% !important;
  }

  .sponsored-image h3{
    margin-top: 0;
    padding-left: 4rem;
    position: relative;
    bottom: 10%;
    text-transform: uppercase;
  }

  .sponsored-post p{
    font-size: 1rem;
    padding-left: 4rem;
    padding-right: 4rem;
    color: #292428;
  }

  .side-panel{
    height: 100vh;
    width: 20%;
    background-color: #292428;
    border-left: 1px solid #495057;
    border-top: 1px solid #495057;

  }

  .hot-topics{
    padding-top: 1rem;
    color: #fff;
    position: fixed;
  }

  .hot-topics li{
    border-bottom: 1px solid #495057;
    padding: 1em 0.5rem;
    line-height: 1;
  }
  
  .hot-topics ul{
    list-style: none;
    padding: 1em 0.5rem;
  }

  .hot-topics li:hover{
    font-size: larger;
    font-weight: bolder;
    color: #495057;
    transition: 0.5s ease-in-out;
  }

  .hot-topics h4{
    padding: 1em 0.8rem;
    text-transform: uppercase;
    border-bottom: 1px solid #495057;
  }
 @media(max-width: 570px){
  .side-panel{
    display: none;
    width: 0%;
  }

  .sponsored-post{
    width: 100%;
  }

  .sponsored-post h3{
    bottom: 30%;
  }

  .sponsored-post p{
    padding-top: 1rem;
    position: relative;
    bottom: 25%;
    padding-bottom: 4rem;
  }

 }
  .valz:focus-visible{
    outline-width: 0rem !important;
  }

  #postsArea {
    color: #292428;
    background-color: #ecebea;
    padding: 10px 30px;
    text-align: left;
  }

  #postsArea h2{
    text-decoration: underline;
    
  }

  .content {
    padding: 10px 30px;
  }

  .chilli{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .postBack {
    background-color: #fafafa;
    min-height: 100vh;
  }
 
  .blog { 
    background-color:#fff;
    margin-bottom: 100px !important;
    max-width: 60vw;
    line-height: 2rem;
    font-size: 18px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  }

  @media (max-width: 500px) {
    .blog {
      min-width: 90%;
    }
  }
   
 .valnav {
    background-color: #292428;
    padding: 10px 35px;
  }
  #author {
    height: 40vh;
    border-color: transparent;
    border-radius: 10px;
    width: 40vw;
  }
  .btn {
    background-color: #292428;
    color: #fff;
    border-radius: 15px;
    margin: 20px !important;
  }

  .heading {
    font-size: 3rem;
    text-align: center;
  }

  .pg13 {
    padding: 20px, 20px;
  }

  .compose{
    font-size: 3.9rem;
    font-family: cursive;
    padding: 20px;
    color: #292428;
    text-align: center;
  }

  .hee{
    color: #fff;
    padding: 0, 10px, 0, 20px;
  }
.footer {
  font-size: 10px;
  background-color: #292428;
  text-align: center;
  color: #fff;
  position: fixed;
  bottom: 0%;
  width: 100%;
  border-top: 1px solid #495057;
}

.copyr {
  padding: 20px 0 20px;
  margin-bottom: 0%;
}